/* Global Styles */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}


/* Start Screen Styles */
.splash-btn {
  margin-top: 50px;
  font-size: 40px;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Bungee', cursive;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}

.start-screen {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

}

.start-screen-title {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.name-inputs {
  margin-top: 10px;
  height: 30px;
  padding: 20px 15px;
  border-radius: 15px;
  width: 310px;
  border: none;
  font-size: 20px;
  outline: none;
  background-color: black;
  color: white;
  font-weight: 800;
}

.name-input-labels {
  font-size: 25px;
  padding-right: 10px;
  font-family: 'Bungee', cursive;

}
.start-game-btn {
  margin-top: 50px;
  font-size: 40px;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Bungee', cursive;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}

/* Header Styles */
.top {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-family: 'Bungee', cursive;
  color: white;
  align-items: center;
}

.top h1 {
  font-size: 35px;
}

.round-counter {
  margin-left: 20px;
}

.exit-btn {
  font-family: 'Bungee', cursive;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #ce4040;
  border: none;
  padding: 5px 5px;
  color: white;
}

/* Gameboard Styles */
.board {
    text-align: center;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-background {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.board-space {
  list-style: none;
  font-size: 50px;
  margin: 10px;
  padding: 5px 0px;
  background-color: black;
  color:white;
  width: 50px;
  border-radius: 10px;
  font-family: 'Bungee', cursive;
}

.hidden {
  color: black;
}


.test {
  background-color: yellow;
}

.space {
  background-color: white;
  border: 10px solid black;
}

.curr-category {
  padding-bottom: 15px;
  margin: 10px;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center
}

/* Word Bank and Buttons Area Styling */
.bank-buttons-area {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 225px;
  font-family: 'Bungee', cursive;
  color: white;
}

.guessed-letters {
  text-align: center;
  margin-left: 20px;
}

.guessed-letters h3 {
  font-size: 25px;
    margin: 15px 0px;
}
.guessed-letter-area {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: center;
  padding: 0px;
}

.letter-btn {
    list-style: none;
    font-size: 23px;
    padding: 0px 10px;
}

.buy-a-vowel {
  text-align: center;
}

.buy-a-vowel h3 {
    font-size: 25px;
    margin: 15px 0px;
}

.vowels {
  padding: 0px;
}

.vowel-btn {
  list-style: none;
  font-size: 25px;
  animation: glow infinite 5s;
}

.vowel-btn:hover {
  font-size: 35px;
}

/* Guess Letter or Solve Puzzle */

.player-guess-solve {
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.guess-letter-area {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.guess-letter-btn {
  background-color: #ce4040;
  color: white;
  height: 50px;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  outline: none;
}

.solve-puzzle-area {
  display: flex;
  align-items: center;
}

.solve-puzzle-btn {
  background-color: #ce4040;
  color: white;
  height: 50px;
  border: 1px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  outline: none;
}

.player-inputs {
  height: 50px;
  border: 1px solid transparent;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 10px;
  width: 180px;
  text-transform: uppercase;
  font-size: 15px;
}


.spin-btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.spin-btn {
  width: 125px;
  height: 120px;
  border-radius: 100%;
  font-family: 'Bungee', cursive;
  font-size: 30px;
  animation: back-glow infinite 3s;
  animation: rotation infinite 3s;
  border: none;
}

.current-spin-value {
  margin: 0;
  font-size: 30px;
  color: white;
}

.solve-btn {
  width: 125px;
  height: 85px;
  border-radius: 40px;
}

/* Player Area */

.player-area {
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  padding-top: 25px;
}

.player-card {
  background-color: black;
  width: 250px;
  height: 195px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.player-card-name {
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
  text-decoration: underline
}

.current-player {
  color: #ce4040;
  animation: glow infinite 3s;
}

@keyframes grow {
  0% {
    /* font-size: 20px; */
    color: blue;
  }

  50% {
    /* font-size: 50px; */
    color: purple;
  }

  100% {
    /* font-size: 20px; */
    color: green;
  }
}

@keyframes glow {
    0% {
    /* font-size: 20px; */
    color:  #FEE140;

  }

  50% {
    /* font-size: 20px; */
    color: #FA709A;
  }

    100% {
    /* font-size: 20px; */
    color: #FEE140;
  }
}

@keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
    }
    
    0% {
    /* font-size: 20px; */
    background-color:  #FEE140;

  }

  50% {
    /* font-size: 20px; */
    background-color: #FA709A;
  }

    100% {
    /* font-size: 20px; */
    background-color: #FEE140;
  }
}

.player-round-score {
  font-size: 20px;
  margin: 5px 10px
}

.player-total-score {
  font-size: 25px;
  margin: 10px;
}
/* styling for Round Change Popup*/

.change-round-popup {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  background-color: #FEE140;
  background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

.change-round-popup-title {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.new-round-btn {
  margin-top: 50px;
  font-size: 40px;
  border-radius: 20px;
  padding: 15px;
  font-family: 'Bungee', cursive;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}

.change-round-popup-message {
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

.winner-info {
  text-align: center;
}

.hide {
  display: none;
}
















.